html,
body {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 26pt;
  font-size: 14pt;
  color: inherit;
  font-weight: normal;
}

h2,
h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21pt;
  font-weight: bold;
}
